@import url('https://fonts.googleapis.com/css?family=Inconsolata|Overpass');

*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 16px;
	font-family: Overpass, sans-serif;
	background-image: url("../images/bg.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

header{
	color: #DDDCDB;
	word-spacing: 5px;
	padding-top: 70px;
	margin-bottom: 20px;
}

section {
	margin-bottom: 25px;
}

section h3{
	font-size: 0.8125em;
	color: #5e2d4d;
	text-transform: uppercase;
	margin-bottom: 5px;
}

section h4, li, li a{
	color: #949396;
	text-transform: uppercase;
	font-size: 0.9em;
}

nav{
	padding-right: 30px;
	font-size: 0.8125em;
	display: inline-block;
	float: right;
}

nav a{
	padding-left: 20px;
}

nav a, a {
	color: #949396;
	text-transform: uppercase;
	text-decoration: none;
}

h2{
	font-size: 1.375em;
	padding-bottom: 30px;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
	font-family: "Inconsolata";
}

p, li, li a, .contact a{
	color: #4d5465;
}

li, li a, .contact a,{
	text-decoration: none;
}

.hire-me{
	border: 2px solid;
	border-color: #DCAA86;
	color: #DCAA86;
	padding: 5px;
	margin-left: 10px;
}

.hire-me:hover{
	background-color: #DCAA86;
	color: #fff;
}

.about-me-header{
	text-transform: uppercase;
	font-size: 2.5em;
	color: #949396;
	margin-left: 10px;
}

.contact a{
	font-size: 0.9em;
	text-transform: uppercase;
	display: inline;
	border: 2px solid;
	border-color: #4d5465;
	color: #4d5465;
	padding: 5px;
	margin-right: 20px;
}

.contact a:hover{
	background-color: #4d5465;
	color: #949396;
}

.end-header-words{
	color:  #DCAA86;
}

#slogan{
	font-size: 5.6875em;
	width: 280px;
}

#two_column{
	background-color: #2B2C40;
	border: 1px #2B2C40 solid;
	padding: 20px;
}

#left {
	background-color: #2B2C40;
	border: 1px #2B2C40 solid;
	padding: 20px;
	float: left;
	width: 30%;
}

div img{
	background-image: url("../images/trevor_hanus.jpg");
	display: block;
	width: 100%;
}

#right{
	background-color: #2B2C40;
	border: 1px #2B2C40 solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*#likes li{
	display: inline;
	border: 2px solid;
	border-color: #4d5465;
	color: #4d5465;
	padding: 5px;
}*/
