@import url('https://fonts.googleapis.com/css?family=Inconsolata|Overpass');

*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 16px;
	font-family: Overpass, sans-serif;
}

h1, h2, h3, h4, p, li, nav, .descriptor{
	padding-left: 50px;
}

nav a, h4, .title{
	color: #949396;
	text-transform: uppercase;
}

p, li, li a, .contact a{
	color: #949396;
}

h1, h2, #slogan{
	color: #DDDCDB;
}

li, li a, .contact a, #experienced-spacing{
	padding-top: 10px;
	text-decoration: none;
}

ul, .descriptor{
	padding-bottom: 20px;
}

nav{
	text-align: right;
	padding-top: 20px;
	padding-right: 30px;
}

nav a{
	font-size: 0.8125em;
	padding-left: 20px;
	text-decoration: none;

}

h2{
	font-size: 1.375em;
	padding-bottom: 30px;
}

h3{
	font-size: 0.8125em;
	color: #5e2d4d;
	text-transform: uppercase;
	padding-top: 10px;
}

p{
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
}

.hire-me{
	border: 2px solid;
	border-color: #DCAA86;
	color: #DCAA86;
	padding: 5px;
	margin-left: 10px;
}

.background-image{
	background-image: url("../images/bg.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.current-projects-list p, .contact p, .skills-descriptor{
	padding-bottom: 5px;
}

.contact p{
	font-size: 0.9em;
	text-transform: uppercase;
}

.end-header-words{
	color:  #DCAA86;
}

.title{
	font-size: 0.9em;
}

.skills-descriptor, .descriptor {
	font-family: "Inconsolata";
	color: #4d5465;
}

#slogan{
	font-size: 5.6875em;
	padding-top: 80px;
}
